<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span jhiTranslate="blogJhipsterApp.post.home.title">Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogJhipsterApp.post.home.refreshListLabel">Refresh List</span>
      </button>

    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span jhiTranslate="blogJhipsterApp.post.home.notFound">No posts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="blogJhipsterApp.post.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="content">
            <span jhiTranslate="blogJhipsterApp.post.content">Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="blogJhipsterApp.post.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="blog.name">
            <span jhiTranslate="blogJhipsterApp.post.blog">Blog</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let post of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a >{{ post.id }}</a>
          </td>
          <td>{{ post.title }}</td>
          <td>{{ post.content }}</td>
          <td>{{ post.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="post.blog">
              <a >{{ post.blog?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
    
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
